/*
.config_jobs_data_list_item label {
    vertical-align: top;
    display: inline-block;
}
*/

#request_config_send_data {
    width: 100%;
    max-height: calc(100vh - 26.5rem);
    height: calc(100vh - 26.5rem);
    min-height: 3rem;
}

#request_config ons-list-item div.right {
    width: calc(100% - 9rem);
}

#request_config ons-list-item div.right ons-select,
#request_config ons-list-item div.right ons-input {
    width: 100%;
}