ons-toolbar h1 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

.panel {
    margin-top: 0.5em !important;
}

.cursor-pointer, ons-button {
    cursor: pointer !important;
}


.panel_results ons-list-item.failed {
    background-color: #F3969A;
    color: white;
}
.panel_results ons-list-item.failed .button--quiet {
    color: white;
}