#about .profile-card {
    background-color: #33393C;
    text-align: center;
    padding: 2rem;
    color: white;
}
#about .profile-image {
    max-height: 290px;
    width: auto;
    border-radius: 290px;
    margin-bottom: 1rem;
}

#about .profile-name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#about .profile-desc {
    color: #CCC;
}