#job_result div.right {
    width: calc(100% - 9rem);
}

#job_result label {
    vertical-align: top;
    display: inline-block;
}

#job_result textarea {
    width: 100%;
    height: calc(100vh - 5.5rem);
}