<v-ons-splitter>
    <v-ons-splitter-side
       width="300px" collapse="portrait" side="left"
       id="sliding_menu"
       v-bind:class="{opened: main_page.data.ui_sliding_menu_open}"
       :open.sync="main_page.data.ui_sliding_menu_open">
      <v-ons-page>
          <h1>
              {{ i18n.t("LOADING TEST") }}
          </h1>
        <v-ons-list>
          <v-ons-list-item tappable modifier="chevron" @click="jump_to_config">
            <div class="center">Job Configuration</div>
          </v-ons-list-item>
          <v-ons-list-item tappable modifier="chevron" 
                           @click="jump_to_results"
                           v-show="main_page.data.results.length">
            <div class="center">Results</div>
          </v-ons-list-item>
          <v-ons-list-item tappable modifier="chevron">
            <a class="center" href="https://github.com/pulipulichen/electron-loading-test/wiki/Help" target="_blank">
                Help
            </a>
          </v-ons-list-item>
          <v-ons-list-item tappable modifier="chevron">
            <a class="center" href="https://github.com/pulipulichen/electron-loading-test" target="_blank">
                About
            </a>
          </v-ons-list-item>
        </v-ons-list>
      </v-ons-page>
    </v-ons-splitter-side>

    
    <v-ons-splitter-content>
<v-ons-page id="main_page" v-bind:class="{ wait: (main_page.data.status_running)}">
    <v-ons-toolbar>
        <div class="left">
            <v-ons-row>
                <v-ons-col @click='open_sliding_menu()' v-show="main_page.data.ui_sliding_menu_mode === 'collapse'">
                    <ons-toolbar-button>
                        <v-ons-icon icon="fa-navicon"></v-ons-icon>
                    </ons-toolbar-button>
                </v-ons-col>
                
                <v-ons-col v-show="main_page.data.status_average_spend_time > 0">
                    <ons-icon icon="md-timer"></ons-icon>
                    {{ main_page.data.status_average_spend_time }}
                </v-ons-col>
                <v-ons-col v-show="main_page.data.status_passed_job > 0">
                    <ons-icon icon="fa-check-circle" style="color: green"></ons-icon>
                    {{ main_page.data.status_passed_job }}
                </v-ons-col>
                <v-ons-col v-show="main_page.data.status_failed_job > 0">
                    <ons-icon icon="fa-exclamation-triangle" style="color: red"></ons-icon>
                    {{ main_page.data.status_failed_job }}
                </v-ons-col>
            </v-ons-row>
        </div>

        <div class="center" @click='main_page.data.ui_menu_open = true'>
            <v-ons-row>
            <v-ons-col v-show="main_page.data.status_percent > 0 && main_page.data.status_percent < 100">
                {{ main_page.data.status_percent }}
                %
            </v-ons-col>
            <v-ons-col v-show="main_page.data.status_percent === 0 || main_page.data.status_percent === 100">
                <h1>{{ i18n.t("LOADING TEST") }}</h1>
            </v-ons-col>
                </v-ons-row>
        </div>


        <div class="right">
            <!--
            <ons-toolbar-button @click="jump_to_config" v-show="main_page.data.results.length > 0">
                <ons-icon icon="fa-cog"></ons-icon>
            </ons-toolbar-button>
            -->
            <ons-toolbar-button v-if="main_page.data.status_running === false" @click="job_run">
                <ons-icon icon="fa-play-circle"></ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button @click="job_stop" v-if="main_page.data.status_running === true">
                <ons-icon icon="fa-pause"></ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button>
                <a href="https://github.com/pulipulichen/electron-loading-test/wiki/Help#main-page" target="_blank">
                    <ons-icon icon="fa-question-circle"></ons-icon>
                </a>
            </ons-toolbar-button>
            <!--
            <ons-toolbar-button @click="results_clear" v-show="main_page.data.results.length > 0">
                <ons-icon icon="fa-trash"></ons-icon>
            </ons-toolbar-button>
            -->
        </div>
    </v-ons-toolbar>

    <!-- ---------------------------------------------- -->
    <!-- Configuration -->

    <v-ons-list modifier="inset" id="panel_configuration" class="panel">
        <v-ons-list-header id="panel_configuration_header">
            Job Configuration
        </v-ons-list-header>
        
        <v-ons-list-item>
            <v-ons-col>
                <v-ons-button modifier="large">
                    <ons-icon icon="fa-folder-open"></ons-icon>
                    LOAD CONFIG
                </v-ons-button>
            </v-ons-col>
            <v-ons-col width="10px"></v-ons-col>
            <v-ons-col>
                <v-ons-button modifier="large">
                    <ons-icon icon="fa-save"></ons-icon>
                    SAVE CONFIG
                </v-ons-button>
            </v-ons-col>
        </v-ons-list-item>
        
        <v-ons-list-item>
            <label class="left" for="status_total_job">
                Mock user number
                <!--
                <ons-icon icon="fa-question-circle"></ons-icon>
                -->
            </label>
            <div class="center">
                
                <span class="list-item__title">
                    <v-ons-input placeholder="Job count" float 
                             v-model="main_page.data.status_total_job" type="number" class="text-right" id="status_total_job"></v-ons-input>
                </span>
                <div class="list-item__subtitle align-right" 
                     v-show="main_page.data.status_total_job > CONFIG.max_mock_user_number">
                    <span class="ui pointing red basic label">
                        Max mock user number is {{ CONFIG.max_mock_user_number }}.
                    </span>
                </div>
            </div>
            
            
        </v-ons-list-item>
        
        <v-ons-list-item>
            <label class="left" for="switch_config_execute_mode">
                Execute mode
            </label>
            <div class="center">
                <v-ons-select v-model="main_page.config_execute_mode" id="switch_config_execute_mode">
                    <option value="simultaneously">Simultaneously</option>
                    <option value="queue">queue</option>
                </v-ons-select>
            </div>
        </v-ons-list-item>
        
        <v-ons-list-header>
            Request Job Configuration
        </v-ons-list-header>
        <v-ons-list-item 
            v-for="(request_job, index) in main_page.data.request_jobs"
            v-bind:class="{ failed: (PULI_UTILS.is_json(request_job.send_data, false) === false)}">
            <v-ons-col width="3rem">
                # {{ index+1 }}
            </v-ons-col>
            <v-ons-col>
                <v-ons-input placeholder="Test URL" float v-model="request_job.url" id="base_url"></v-ons-input>
            </v-ons-col>
            <v-ons-col class="text-right">
                <v-ons-button modifier="quiet" @click="add_request_job(index)">
                    <ons-icon icon="md-plus-circle"></ons-icon>
                </v-ons-button>
                <v-ons-button modifier="quiet" @click="remove_request_job(index)">
                    <ons-icon icon="md-minus-circle"></ons-icon>
                </v-ons-button>
                <v-ons-button modifier="quiet" @click="nav_request_config(index)">
                    <ons-icon icon="fa-cog"></ons-icon>
                </v-ons-button>
            </v-ons-col>
        </v-ons-list-item>
        
        
        
        <v-ons-list-item v-if="main_page.data.status_running === false" @click="job_run">
            <v-ons-button modifier="large">
                <ons-icon icon="fa-play-circle"></ons-icon>
                RUN
            </v-ons-button>
        </v-ons-list-item>
        <v-ons-list-item v-if="main_page.data.status_running === true" @click="job_stop">
            <v-ons-button modifier="large">
                <ons-icon icon="fa-pause"></ons-icon>
                STOP
            </v-ons-button>
        </v-ons-list-item>
    </v-ons-list>

    <hr v-show="main_page.data.results.length" />
    
    <v-ons-list modifier="inset" v-show="main_page.data.results.length" class="panel panel_results" id="panel_results">
        <v-ons-list-header id="panel_results_header">
            Results
        </v-ons-list-header>
        <v-ons-list-item v-for="(result, index) in main_page.data.results" 
            class="cursor-pointer" v-bind:class="{ failed: (result.passed === false)}"
             @click="nav_result_detail(index)">
            <v-ons-col width="4rem">
                # {{ index + 1 }}
            </v-ons-col>
            <v-ons-col width="5rem">
                <ons-icon icon="md-timer"></ons-icon>
                {{ result.spend_time }}
            </v-ons-col>
            <v-ons-col width="4rem">
                <ons-icon icon="fa-check-circle" v-show="result.passed" style="color: green"></ons-icon>
                <ons-icon icon="fa-exclamation-triangle" v-show="result.passed === false" ></ons-icon>
                <span v-show="result.passed === false">{{ result.status }}</span>
            </v-ons-col>
            <v-ons-col v-bind:title="result.url">
                {{ result.uri }}
            </v-ons-col>
            <v-ons-col class="text-center" width="2rem">
                <v-ons-button modifier="quiet">
                    <ons-icon icon="fa-angle-right"></ons-icon>
                </v-ons-button>
            </v-ons-col>
                
        </v-ons-list-item>
    </v-ons-list>

    <!-- ---------------------------------------------- -->
    <!-- Result -->



</v-ons-page>
    </v-ons-splitter-content>
    
    
</v-ons-splitter>