#main_page h1 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

#main_page .toolbar__left {
    padding-left: 10px;
}

#main_page #base_url {
    width: 100%;
}

#main_page ons-toolbar-button {
    cursor: pointer;
}

#main_page #panel_results ons-list-item.failed {
    background-color: #F3969A;
    color: white;
}
#main_page #panel_results ons-list-item.failed .button--quiet {
    color: white;
}

/* --------------------------------------- */

#main_page .text-right, #main_page .text-right input {
    text-align: right;
}

#main_page .text-center, #main_page .text-center input {
    text-align: center;
}


#main_page .cursor-pointer, #main_page ons-button {
    cursor: pointer;
}