<v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Back</v-ons-back-button>
      </div>
      <div class="center">
          <h1> #{{ request_config.data.request_id+1 }} Request Configuration</h1>
      </div>
    </v-ons-toolbar>
    
    <v-ons-list modifier="inset" id="request_configuration" class="panel">
        <v-ons-list-item>
            <label class="center" for="request_config_url">
                Request URL
            </label>
            <div class="right">
                <v-ons-input placeholder="Request URL" float 
                             v-model="request_config.data.request_config.url" class="text-right" id="request_config_url"></v-ons-input>
            </div>
        </v-ons-list-item>
        
        <v-ons-list-item>
            <label class="center" for="request_config_method">
                Method
            </label>
            <div class="right">
                <v-ons-select v-model="request_config.data.request_config.method" id="request_config_method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                </v-ons-select>
            </div>
        </v-ons-list-item>
        
        <v-ons-list-item>
            <label class="center" for="request_config_data_type">
                Data Type
            </label>
            <div class="right">
                <v-ons-select v-model="request_config.data.request_config.data_type" id="request_config_data_type">
                    <option value="text">Text</option>
                    <option value="json">JSON</option>
                    <option value="webpage" v-show="ELECTRON_ENABLE">Web Page</option>
                </v-ons-select>
            </div>
        </v-ons-list-item>
        
        <v-ons-list-item class="request_config_data_list_item" >
            <label class="center" for="request_config_send_data">
                Send Data
            </label>
            <div class="right">
                <textarea class="textarea textarea--transparent" id="request_config_send_data" 
                    v-model="request_config.data.request_config.send_data"
                    placeholder="Request Data"></textarea>
            </div>
        </v-ons-list-item>
    </v-ons-list>
    
    
    
    
    
    
</v-ons-page>